.todo {
    width: 100%;
    height: 68px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    padding: 2rem;
  border-top: 1px solid #e5e5;
  cursor: pointer;
  transition: .3s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.todo:hover {
    background-color: greenyellow;
    
}
.todo p {
    user-select: none;
    padding-right: 1rem;
}

.completed {
    text-decoration: line-through;
}

.todo span {
    z-index: 3;
    
}