.todo {
    width: 100%;
    min-height: 68px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    
  border-top: 1px solid #e5e5;
  cursor: pointer;
  transition: .3s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

}
.todo:hover {
    background-color: greenyellow;
    
}
.todo p {
    user-select: none;
   
    word-wrap: break-word;
    max-width: 310px;
    
    
}

.completed {
    text-decoration: line-through;
}

.todo span {
    z-index: 3;
    
}